---
layout: page
title: Edición digital
permalink: /indice/
type: texto
---

<div class="alert alert-dark" role="alert">
  <h4 class="alert-heading">Anotaciones</h4>
  Para hacer anotaciones en esta edición, use el <strong>botón "Anotar"</strong> de la barra de navegación. Luego de hacer click, seleccione el texto de su interés y podrá hacer resaltados y asociar notas.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="post-list clearfix prose mx-auto px-2">

    {% for page in site.pero_pages %}
      {% include page_card.html %}
    {% endfor %}

</div>
